.room-card-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px;
	align-items: stretch;
	margin: 0;
	padding: 0;
	list-style: none;

	@include media-tablet {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		justify-content: center;
	}

	@include media-mobile {
		display: flex;
		flex-direction: column;
		gap: 32px 0;
		padding: 0 16px 16px;
	}
}

.room-card-list__item {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
		border-radius: 10px;
	}

	&:hover {
		.discount {
			display: block;
		}
	}

	@include media-tablet {
		flex-basis: 328px;
		min-height: 420px;
	}

	@include media-mobile {
		min-height: 347px;
	}
}
